@use "../mixins";
@use "../variables";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @include mixins.mq(md) {
    flex-direction: row;
  }

  &__left {
  }
  &__right {
  }
}
