@use "../mixins";
@use "../variables";

.header {
  display: flex;
  flex-direction: column;
//   flex-direction: row;
  align-items: center;
  justify-content: space-around;

  &__left {
  }
  &__right {
  }
}
