@use "../mixins";
@use "../variables";

.left {
  &__h1 {
    margin-bottom: 45px;
    rotate: 5deg;
    font-size: 40px;
    border: 2px solid #ffe601;
    border-radius: 5px;

    @include mixins.mq(lg) {
      font-size: 50px;
      border: 3px solid #ffe601;
    }
  }

  &__contact {
    border-bottom: 3px solid #ff87ff;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 20px;

    @include mixins.mq(lg) {
      border-bottom: 3.5px solid #ff87ff;
      margin-bottom: 15px;
      font-size: 25px;
    }
  }

  &__span {
    background-color: #2ae881;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
