@use "../mixins";
@use "../variables";

.right {
  $block: &;
  position: relative;

  &__wrap {
    position: relative;
    margin-top: 50px;
    width: 200px;   
  }

  &__myfoto {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}